.footer
  width 100%
  height 200px
  background-color #ed4970

.footer-container
  width 980px
  margin 0 auto   
  display flex
  justify-content space-between
  padding-top 30px

.footer-container__item
  h3
    font-size: 18px;
    font-family: "Intro Regular";
    color: rgb(255, 255, 255);
    text-align: left;
  p, a
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-align: left;
    &:hover
      text-decoration none
  
  
.footer-social
  display flex
  margin-top 30px
 
.footer-container__item__aftersocial
  margin-top 30px
  margin-left 30px
    

.footer-container__item--vk, .footer-container__item--fb, .footer-container__item--ok, .footer-container__item--yb
  border-radius: 50%;
  background-color: rgb(227, 56, 97);
  width: 46px;
  height: 46px;
  display block
  margin-left 30px

.footer-container__item--vk
  img 
    margin-top 15px
    margin-left 9px
  transition background-color 0.3s
  &:hover
    background-color #4d7198

.footer-container__item--fb
  img 
    margin-top 12px
    margin-left 18px    
  transition background-color 0.3s
  &:hover
    background-color #3b5998

.footer-container__item--ok
  img 
    margin-top 10px
    margin-left 16px    
  transition background-color 0.3s
  &:hover
    background-color #f2720c

.footer-container__item--yb
  img 
    margin-top 8px
    margin-left 11px    
  transition background-color 0.3s
  &:hover
    background-color #cc181e