.weight
  max-width 980px
  margin -100px auto 0 auto 
  h1
    font-size: 34px;
    font-family: "Intro Regular Alt";
    color: rgb(98, 97, 97);
    text-align: center;
  h3
    font-size: 22px;
    font-family: "Intro Light";
    color: rgb(98, 97, 97);
    text-align: center; 

.weight-form__container  
  height 400px
  width 980px
  background-color #1dc1db


.weight-form
  label
    font-size: 18px;
    font-family: "Intro Regular";
    color: rgb(255, 255, 255);
    line-height: 2.5;
    text-align: right; 
    margin-right 25px
  table
    margin 0 auto 

  input[type="radio"]
    display none

  input[type=radio] + label
    display inline-block
    border-style: solid;
    border-width: 2px;
    border-color: rgb(65, 237, 255);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 184px;
    height: 35px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin 0 10px
    padding-top 2.5px
    padding-bottom 2.5px
    cursor pointer
    &:hover
      background-color #41edff
    

  input[type=radio]:checked + label
    background-color #ffffff
    color rgb(65, 237, 255)

  span 
    margin-left 57px  


.weight-form__textinput
  border-radius: 3px;
  background-color: #12a9c4
  border 1px solid #0d9abc;
  width: 80px;
  height: 42px;
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-right 30px
  margin-left 30px

.weight-form__tablerow
  width 900px
  height 100px


.weight-form__buttoncheck
  border-style: solid;
  border-width: 2px;
  border-color: rgb(65, 237, 255);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  width: 184px;
  height: 44px;
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin 0 10px
  cursor pointer
  &:hover
    background-color #41edff
  
  

  
.weight-form__buttoninput
  margin 10px auto 
  display block  
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  width: 255px;
  height: 59px;
  font-size: 22px;
  font-family: "Intro Regular Alt";
  color: rgb(255, 255, 255);
  text-align: center;
  cursor pointer
  &:hover
    background-color #41edff
  